{% extends 'base.html.twig' %}

{% block title %}Mes astuces et conseils{% endblock %}

{% block body %}
<main>
<h2 class="text-center my-3">Mes astuces et conseils : "Home Organiser" </h2>
    <section class="row">
        {% for astuces in astuces %}

            <div class="col-12 col-md-6 my-3 align-items-center ">
                    <div class="text-center">
                        <img src="{{ asset("images/imageAstuces/" ~ astuces.imageName) }}" alt="{{astuces.title}}" class="img-fluid w-50 ">
                    </div>
                </div>

                <div class="col-12 col-md-6 my-3 align-self-center ">

                    <div class="my-3">
                        <p class="text-center">{{ astuces.description|raw }}</p>
                    </div>
                </div>

        {% endfor %}
    </section>
</main>
{% endblock %}
