{% extends 'base-admin.html.twig' %}

{% block title %}Edit Blog{% endblock %}

{% block body %}
    <h1>Mettre à jour les articles du blog</h1>

    {{ include('admin_blog/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('admin_blog_index') }}" class="btn btn-warning">Retour à la liste</a>

    {{ include('admin_blog/_delete_form.html.twig') }}
{% endblock %}
