{% extends 'base-admin.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <h1>Mentions Légales</h1>

    {{ include('admin_mentions/_form.html.twig') }}

    <a href="{{ path('admin_mentions_index') }}" class="btn btn-warning">Retour à la liste</a>
{% endblock %}
