{% extends 'base-admin.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a href="{{ path('admin_user_index', {'role': role}) }}" class="btn btn-warning">Retour à la liste</a>
{% endblock %}
