{% extends 'base-admin.html.twig' %}

{% block title %}Conditions Générales{% endblock %}

{% block body %}
    <h1>Nouveau : Conditions Générales</h1>

    {{ include('admin_conditions/_form.html.twig') }}

    <a href="{{ path('admin_conditions_index') }}" class="btn btn-warning">Retour à la liste</a>
{% endblock %}
