{% extends 'base.html.twig' %}

{% block title %}Mes réalisations{% endblock %}

{% block body %}
{# ====== ma page réalisation ===== #}


<header>
    <h2 class="text-center my-3">Mes réalisations </h2>
    
    <p class="text-center my-4">Sur cette page, vous trouverez mes réalisations effectuées dans ma longère ou encore chez des amis ou chez ma famille. Vous pourrez également trouver sur mon site toutes mes recommandations et conseils pour vous aider dans votre projet.</p>
</header>

<main id="galerie"> {#apparition de mes images côté front#}
    <section id="singleGallery">
        <div class="row align-items-center">
            {% for realisation in realisation %}
                <div class="col-12 col-md-3 my-3 ">
                    <div>
                        <img src="{{ asset("images/imageRealisation/" ~ realisation.imageName) }}" alt="{{ realisation.description }}" class="img-fluid photos">
                    </div>

                    <div class="col-12 my-3">
                        <p class="text-center titre">{{ realisation.title }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

<div id="voile"><img src="" alt="Mes images de réalisation en petit format" class="photos"></div>

<div class="row">
    <div class="d-flex justify-content-end">
        <button class="btnColor" id="scrollUp">
            <a href="#top"><img class="btn"src="{{ asset('images/arrow-up.svg') }}"/></a>
        </button>
    </div>
</div>


{% endblock %}

